snippet class
class ${1} {
  ${2}
}
$0
endsnippet

snippet file
file { '${1}':
  ensure => present,
  owner  => ${2:root},
  group  => ${3:root},
  mode   => '${4:0644}',
  source => 'puppet:///`pwd|xargs basename`/${5}',
}
$0
endsnippet

snippet package
package { '${1}':
  ensure => installed,
}
$0
endsnippet
